

.islembutton {
    --bs-btn-padding-y: 0.15rem;
    --bs-btn-padding-x: 0.15rem;
    --bs-btn-font-size: 0.75rem;
    margin-left: 7px;
    margin-right: 7px;
}

.tabulator {
    position: relative;
    border: 1px solid #999;
    background-color: #888;
    font-size: 14px;
    text-align: left;
    overflow: hidden;
}

.tabulator-header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #999;
    background-color: #e6e6e6;
    color: #555;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
}

.tabulator-header-contents {
    position: relative;
    overflow: hidden;
}

.tabulator-headers {
    display: inline-block;
}

.tabulator-col-resize-handle {
    position: relative;
    display: inline-block;
    width: 6px;
    margin-left: -3px;
    margin-right: -3px;
    z-index: 10;
    vertical-align: middle;
}